body{
    background-color: antiquewhite color #f8f8f8;
    font-family: Arial, sans-serif;
    color:#07040f;
    margin: 20px;
}
h1{
    color:bisque
    text-align: center;
}   
h2{
    color:black;
    text-align: left;
}
p{
    font-size: 18px;
    text-align: left;
    line-height: 1,5;
}.daftar-poduk {
    display:grid;
    grid-tamplate-colums:
    minmax(250px,1fr));
    gap:20px;
    padding:20px;
    .artikel{
     max-width: 700px;
    margin: auto;
    padding:20px;
    background-color: burlywood;
     font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1,8;
}
formulir{
        max width: 600px;
        margin: auto;
        padding: 20px;
        background-color:#fafafa;
        border-radius:10px:
        box-shadow :0 0 10px rgba(0,0,0,0.1);
    }
form label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
form input,
form select,
form textarea{
    width: 100px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius :5px;
    border: :1px solid#ccc;
}
form button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
form button:hover{
    background-color: #2980b9;
}